
@import url('https://fonts.googleapis.com/css?family=Cinzel:700');

.center{
    text-align: center;
    position:relative;
}

.font{
    font-family: 'Cinzel', serif;
}

.cart-font{
    font-family: 'Cinzel', serif;

}
.searchbox{
  text-align: right;

}
#searchform{
    text-align: right;
    padding:10px;
}
.searchbutton{
  text-align: right;

}

.cart-text-align{
  font-family: 'Cinzel', serif;
  text-align: left;
}

.footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 6px;
    background-color: #efefef;
    text-align: center;
    background: linear-gradient(to right, #EEE0CB, #F2C078, #4C230A) ;
}

/*centers the team information*/
.padding{
    padding-top: 70px;
}

body{
    background: linear-gradient(to right, #EEE0CB, #F2C078, #4C230A) ;
}

p>a{
    color: #EEE0CB;
    text-decoration: underline #EEE0CB;
}
p>a:hover{
    color: #FFFFFF;
}
