@import url('https://fonts.googleapis.com/css?family=Cinzel:700');

#angelo{
    border: 1rem solid;
    margin-bottom: 25px;
}

p,.artistfont, .famousworks{
    font-family: 'Cinzel', serif;
    font-size: 16px;
}

.artistfont{
    font-family: 'Cinzel', serif;
    font-size: 16px;
}

/*styling for artist images */
#monet,#gogh,#davinci, #warhol,#angelo{
  width: 85%;
  height: 85%;
  margin-left: 0px;;
  margin-right: 30px;
  border: 1rem solid;
  color: #3C3332;
}

/*styling for artist images information */
.Andy,.Michel,.daVinci,.VanGogh,.Monet{
  margin-top: 15px;
  float: right;
  text-align: right;
  color: #EEE0CB;
}

/*styling for artwork images information */
.StarryNight, .CampbellsSoup, .BirthoVenus, .LastSupper, .WeepingWoman{
    margin-top: 15px;
    float: right;
    text-align: right;
    color: #EEE0CB;
}

/*styling for artwork images */
#soup, #snight, #bvenus, #lasts, #wwoman{
    width: 85%;
    height: 85%;
    margin-left: 0px;
    margin-right: 30px;
    border: 1rem solid;
    color: #3C3332;
}
.item{
    display: inline-block;
}

.quantity{
    padding-bottom: 20px;
}