
body{
	background: linear-gradient(to right, #EEE0CB, #F2C078, #4C230A);
}

td, th{
	background-color: rgba(232,232,232,0.5);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
th{
	font-size: 18px;
}

#textbox{
	margin-top: 7px;
}

#prodigal {
	width: 215px;
	height: 250px;
}

#mona{
	width: 215px;
	height: 275px;
}

#bon {
	width: 215px;
	height: 225px;
}
.form-control{
	width:100px;
}
#right{
	float: right;
}
#rightBox{
	margin-right: 10px;
}
#leftBox{
	margin-left: 10px;
}
#rightLabel{
	font-size: 18px;
	color: #FFFFFF;
}

#leftLabel{
	font-size: 18px;
	margin-left: 10px;
}
table{
	margin: 10px;
	width: 98.5%;
}


