@import url('https://fonts.googleapis.com/css?family=Cinzel:700');

#soup, #snight, #lasts, #bvenus{
    width:  85%;
    height: 85%;
}

#wwoman {
    width: 60%;
}

p, .famousworks{
    font-family: 'Cinzel', serif;
    font-size: 16px;
}

#monet,#gogh,#davinci, #warhol{
  width: 85%;
  height: 85%;
}
