
/*changes background of navigation bar*/
.navbar.navbar-inverse{
    background-color: #291F1E;
    border-color: #291F1E;
}

/*changes colour of title of webpage*/
.navbar.navbar-inverse .navbar-brand
{
    color: #EEE0CB;
}

.navbar.navbar-inverse .navbar-brand:hover,
.navbar.navbar-inverse .navbar-brand:focus{
    background-color: #3C3332;
    color: #EEE0CB;
}

/*changes colour of list item that mouse is over*/
.navbar.navbar-inverse .navbar-nav > li > a:hover,
.navbar.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #3C3332;
    color: #EEE0CB;
}

/*changes colour of selected item*/
.navbar.navbar-inverse .navbar-nav > .active,
.navbar.navbar-inverse .navbar-nav > .active > a,
.navbar.navbar-inverse .navbar-nav > .active > a:hover,
.navbar.navbar-inverse .navbar-nav > .active > a:focus {
    color: #EEE0CB;
    background-color: #3C3332;
}

.navbar.navbar-inverse li a{
    color: #EEE0CB;
}

/* changes features dropdown*/
.dropdown-menu{
    background-color: #3C3332;
    color: #EEE0CB;
    border-color: #3C3332;
}

/* changes features of element mouse is over*/
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu > .active > a:hover {
    background-color: #291F1E;
    color:#EEE0CB;
    border-color: #3C3332;
}

/* changes text colour of dropdown*/
.navbar.navbar-inverse .dropdown-menu > li > a {
    color: #EEE0CB;
}
