@import url('https://fonts.googleapis.com/css?family=Cinzel:700');

#angelo{
    border: 1rem solid;
    margin-bottom: 25px;
}

p, .famousworks{
    font-family: 'Cinzel', serif;
    font-size: 16px;
}

#monet,#gogh,#davinci, #warhol{
    width: 85%;
    height: 85%;
    border: 1rem solid;
    margin-bottom: 25px;
}

.StarryNight, .CampbellsSoup, .BirthoVenus, .LastSupper, .WeepingWoman{
    margin-top: 15px;
    float: right;
    text-align: right;
    color: #EEE0CB;
}

#soup, #snight, #bvenus, #lasts, #wwoman{
    width: 85%;
    height: 85%;
    margin-left: 0px;
    margin-right: 30px;
    border: 1rem solid;
    color: #3C3332;
}