
/*changes background of navigation bar*/
.navbar.navbar-inverse{
    background-color: #291F1E;
    border-color: #291F1E;
}

/*changes colour of title of webpage*/
.navbar.navbar-inverse .navbar-brand
{
    color: #EEE0CB;
}

.navbar.navbar-inverse .navbar-brand:hover,
.navbar.navbar-inverse .navbar-brand:focus{
    background-color: #3C3332;
    color: #EEE0CB;
}

/*changes colour of list item that mouse is over*/
.navbar.navbar-inverse .navbar-nav > li > a:hover,
.navbar.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #3C3332;
    color: #EEE0CB;
}

/*changes colour of selected item*/
.navbar.navbar-inverse .navbar-nav > .active,
.navbar.navbar-inverse .navbar-nav > .active > a,
.navbar.navbar-inverse .navbar-nav > .active > a:hover,
.navbar.navbar-inverse .navbar-nav > .active > a:focus {
    color: #EEE0CB;
    background-color: #3C3332;
}

.navbar.navbar-inverse li a{
    color: #EEE0CB;
}

/* changes features dropdown*/
.dropdown-menu{
    background-color: #3C3332;
    color: #EEE0CB;
    border-color: #3C3332;
}

/* changes features of element mouse is over*/
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu > .active > a:hover {
    background-color: #291F1E;
    color:#EEE0CB;
    border-color: #3C3332;
}

/* changes text colour of dropdown*/
.dropdown-menu > li > a {
    color: #EEE0CB;
}

.btn-dropdown-toggle,
.btn-dropdown-toggle:focus{
    background-color: #3C3332;
    color: #EEE0CB;
    margin-left: 10px;
}
.btn-dropdown-toggle:hover{
    background-color: #291F1E;
    color: #EEE0CB;
}
.dropdown{
    display: inline-block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#shopping{
    width: 20px;
    margin-left: 0px;
    padding-left:0px;
}